body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a { cursor: pointer }

.btn-facebook {
    background: #3B5998;
    color: #fff;

}

.btn-facebook:hover {
    color: #fff;
    opacity: 0.8;
}

.btn-delete-account {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
